*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  border: 0;
  border-radius: 12px;
  line-height: 1.6;
  overflow: hidden;
}

li {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}
input[type="number"],
input[type="text"] {
  border: 1px solid black;
  padding: 12px;

  border-radius: 12px;
  border-radius: 24px;
}
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  background-color: rgb(35, 35, 247);
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  line-height: 1.6;
  cursor: pointer;
  transition: all 1s ease-in;
}
button:hover {
  background-color: rgb(8, 8, 61);
}
p {
  font-size: 1.8rem;
}
.marginfive {
  margin-top: 20px;
}

:root {
  --original: black;
}
